{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}



{% block content %}
<!-- Перед таблицей добавим форму для поиска -->

    <h1>Всего {{ news|length }} новости  </h1>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>
                    <h2>Заголовок</h2>
                </td>
                <td>
                    <h2>Дата</h2>
                </td>
                <td>
                    <h2>Текст</h2>
                </td>
                <td>
                    <h2>Автор</h2>
                </td>
                 <td>
                    <h2>Категория</h2>
                </td>


            </tr>
         {% for new in news %} <!-- поменяем news на filter.qs, т.к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
            <tr>
                <td>
                    <a href="{% url 'news' new.id %}">{{ new.name}}</a>
                    <a href="{% url 'update' new.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
                    <a href="{% url 'delete' new.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление -->
                </td>
                <td>
		        {{ new.creationTime}}
                </td>
                <td>
                    {{ new.description|truncatechars:50|censor }}
                </td>
                <td>
                    {{new.authorNew}}
                </td>
                <td>
                    {{new.category}}
                </td>
                  <td>
                        {% for c in new.category.all %}
                            <a href="{% url 'category' c.id %}">{{c.name}}</a>
                        {% endfor %}
                    </td>

            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}



<a href="{% url 'create' %}">Добавить новость</a> <br>


{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}

{% endblock content %}


